{% extends "heatmap_base.html" %}

{% block header %}
	<h1>Firefox Main Window Heatmap</h1>
	<h2>Based on over 117,000 Windows 7 and Vista Test Pilot submissions from 7 days in July 2010 - <a href='https://testpilot.mozillalabs.com/testcases/betaui' >Study details</a></h2>
{% endblock %}

{% block filters %}
	<ul>
		<li><a href='heatmap?s={{ skill }}' class="button left {% if show_perc %}active{% endif %}">Used by x% of users</a></li>
		<li><a href='?d=freq&s={{ skill }}' class="button right {% if not show_perc %}active{% endif %}">Clicks per user</a></li>
	</ul> 
	
	<ul>
		<li><a href='?s=all&d={{ data }}' class="button left {% if all_skills %}active{% endif %}">All Skills</a></li>
		{% if all_hours %}		
		<li><a href='?s=beginner&d={{ data }}' class="button {% if beginner %}active{% endif %}">Beginner</a></li>
		<li><a href='?s=intermediate&d={{ data }}' class="button {% if intermediate %}active{% endif %}">Intermediate</a></li>		
		<li><a href='?s=advanced&d={{ data }}' class="button right {% if advanced %}active{% endif %}">Advanced</a></li>
		{% else %}
		<li><a href='#' class="button inactive">Beginner</a></li>
		<li><a href='#' class="button inactive">Intermediate</a></li>		
		<li><a href='#' class="button inactive right">Advanced</a></li>
		{% endif %}		
	</ul>	
	
	<ul>
		<li><a href='?t=all&d={{ data }}' class="button left {% if all_hours %}active{% endif %}">All Hours</a></li>
		{% if all_skills %}
		<li><a href='?t=low&d={{ data }}' class="button {% if low %}active{% endif %}">&nbsp; 0 - 2 &nbsp;</a></li>
		<li><a href='?t=medium&d={{ data }}' class="button {% if medium %}active{% endif %}"> &nbsp; 2 - 6 &nbsp;</a></li>		
		<li><a href='?t=high&d={{ data }}' class="button right {% if high %}active{% endif %}">&nbsp;&nbsp; 6 + &nbsp;&nbsp;</a></li>
		{% else %}
		<li><a href='#' class="button inactive">&nbsp; 0 - 2 &nbsp;</a></li>
		<li><a href='#' class="button inactive">&nbsp; 2 - 6 &nbsp;</a></li>		
		<li><a href='#' class="button inactive right">&nbsp;&nbsp; 6 + &nbsp;&nbsp;</a></li>		
		{% endif %}		
	</ul>
		
	<ul id='checkboxes'>
		<li>
			<input type=checkbox 
						 name='show_menus'
						 id='checkbox_menu'
						 onclick='showHide("#checkbox_menu", "#combined_menu_wrapper", "#bookmarks_menu_wrapper");' /> 
			<span>Show Menus</span>
		</li>
		<li>
			<input type=checkbox 
						 name='show_menus'
						 id='checkbox_hide_heatmap'
						 style='margin-left: 30px;'
						 onclick='hideHeatmap("#checkbox_hide_heatmap");' /> 
			<span>Hide Heatmap</span>
		</li>		
		<br />
	</ul>
	
	<div style='height: 60px; clear; both;'></div>
{% endblock %}


{% block content %}
	<div id='content'>	
		{% if show_perc %}
		<div class='items_list' >
			<h3>Customizations</h3>
				{% for item in items_list %}
					{% if item.is_customization %}
						<div class='perc_box' style='background-color: {{ item.color }};'>{{ item.stat }}</div>
						<div style='width: 260px;'>{{ item.name }}</div>
						<div style='height:1px; clear: both;'></div>					
					{% endif %}
				{% endfor %}
		</div>	
		{% else %}
			<div class='items_list' style='width: 262px;'>&nbsp;
			</div>	
		{% endif %}

		<div class='items_list' >
			<h3>Menu Items</h3>
				{% for item in items_list %}
					{% if item.is_menu %}
						<div class='perc_box' style='background-color: {{ item.color }};'>{{ item.stat }}</div>
						<div style='width: 230px;'>{{ item.name }}</div>
						<div style='height:1px; clear: both;'></div>					
					{% endif %}
				{% endfor %}
		</div>					
		<div class='items_list' >
			<h3>Main UI Elements</h3>
				{% for item in items_list %}
					{% if item.is_navigation_toolbar %}
						<div class='perc_box' style='background-color: {{ item.color }};'>{{ item.stat }}</div>
						<div style='width: 300px;'>{{ item.name }}</div>
						<div style='height:1px; clear: both;'></div>					
					{% endif %}
				{% endfor %}
		</div>			

		<img src='media/img/fx_4_b1.png' id='fx_chrome' />

		<div class='item_container'>
			<div style='background-color: {{ firefox_button.color }};' id='firefox_button' class='overlay'>{{ firefox_button.stat }}</div>	
			<div class='item_details' style='top: 210px; left: 78px;'>
				<div class="menu_arrow" style="left: 10px;">◢◣</div>
				<div class="menu_arrow_mask" style="left: 8.5px;"></div>
				{{ firefox_button.hover|safe }}
			</div>
		</div>

		<div id='tab_strip'>
			<div class='item_container'>
				<div style='background-color: {{ tab_scroll_left.color }};' id='tab_scroll_left' class='overlay'>{{ tab_scroll_left.stat }}</div>
				<div class='item_details'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ tab_scroll_left.hover|safe }}
				</div>
			</div>
			
			<div class='item_container'>
				<div style='background-color: {{ tab_scroll_right.color }};' id='tab_scroll_right' class='overlay'>{{ tab_scroll_right.stat }}</div>
				<div class='item_details' style='left: 860px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ tab_scroll_right.hover|safe }}
				</div>
			</div>				
				
			<div class='item_container'>				
				<div style='background-color: {{ new_tab_button.color }};' id='new_tab' class='overlay'>{{ new_tab_button.stat }}</div>
				<div class='item_details' style='left: 890px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ new_tab_button.hover|safe }}
				</div>
			</div>

			<div class='item_container'>				
				<div style='background-color: {{ list_all_tabs.color }};' id='list_all_tabs' class='overlay'>{{ list_all_tabs.stat }}</div>
				<div class='item_details' style='left: 920px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ list_all_tabs.hover|safe }}
				</div>
			</div>

		</div>		
		
		<div id='navigation_toolbar'>
			<div class='item_container'>				
				<div style='background-color: {{ back.color }};' id='back' class='overlay'>{{ back.stat }}</div>
				<div class='item_details' style='left: 3px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ back.hover|safe }}
				</div>
			</div>

			<div class='item_container'>								
				<div style='background-color: {{ forward.color }};' id='forward' class='overlay'>{{ forward.stat }}</div>
				<div class='item_details' style='left: 30px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ forward.hover|safe }}
				</div>
			</div>

			<div class='item_container'>								
				<div style='background-color: {{ reload_button.color }};' id='reload' class='overlay'>{{ reload_button.stat }}</div>
				<div class='item_details' style='left: 75px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ reload_button.hover|safe }}
					<div style='height: 15px;'></div>					
					{{ stop.hover|safe }}					
				</div>
			</div>

			<div class='item_container'>										
				<div style='background-color: {{ home.color }};' id='home' class='overlay'>{{ home.stat }}</div>
				<div class='item_details' style='left: 110px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ home.hover|safe }}
				</div>
			</div>

			<div class='item_container'>							
				<div style='background-color: {{ site_id_normal.color }};' id='site_id' class='overlay'>{{ site_id_normal.stat }}</div>
				<div class='item_details' style='left: 145px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ site_id_normal.hover|safe }}
					<div style='height: 15px;'></div>
					{{ site_id_ev.hover|safe }}					
					<div style='height: 15px;'></div>
					{{ site_id_ssl.hover|safe }}						
				</div>
			</div>
				
			<div class='item_container'>								
				<div style='background-color: {{ url_enter_key.color }};' id='location_bar' class='overlay'>{{ url_enter_key.stat }}</div>
				<div class='item_details' style='left: 342px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ url_enter_key.hover|safe }}
					<div style='height: 15px;'></div>					
					{{ url_search_enter_key.hover|safe }}
				</div>
			</div>
				
			<div class='item_container'>								
				<div style='background-color: {{ rss.color }};' id='rss' class='overlay'>{{ rss.stat }}</div>
				<div class='item_details' style='left: 541px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ rss.hover|safe }}
				</div>
			</div>

			<div class='item_container'>					
				<div style='background-color: {{ bookmark_star.color }};' id='bookmark_star' class='overlay'>{{ bookmark_star.stat }}</div>
				<div class='item_details' style='left: 565px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ bookmark_star.hover|safe }}
				</div>
			</div>

			<div class='item_container'>																											
				<div style='background-color: {{ url_go_button.color }};' id='location_bar_go_button' class='overlay'>{{ url_go_button.stat }}</div>
				<div class='item_details' style='left: 590px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ url_go_button.hover|safe }}
					<div style='height: 15px;'></div>					
					{{ url_search_go_button.hover|safe }}					
				</div>
			</div>

			<div class='item_container'>								
				<div style='background-color: {{ most_visited_drop_down.color }};' id='most_visited_drop_down' class='overlay'>{{ most_visited_drop_down.stat }}</div>
				<div class='item_details' style='left: 615px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ most_visited_drop_down.hover|safe }}
				</div>
			</div>

			<div class='item_container'>								
				<div style='background-color: {{ search_drop_down.color }};' id='search_drop_down' class='overlay'>{{ search_drop_down.stat }}</div>
				<div class='item_details' style='left: 652px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ search_drop_down.hover|safe }}
				</div>
			</div>
				
			<div class='item_container'>								
				<div style='background-color: {{ search_enter_key.color }};' id='search_bar' class='overlay'>{{ search_enter_key.stat }}</div>
				<div class='item_details' style='left: 728px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ search_enter_key.hover|safe }}
				</div>
			</div>
				
			<div class='item_container'>				
				<div style='background-color: {{ search_go_button.color }};' id='search_go_button' class='overlay'>{{ search_go_button.stat }}</div>
				<div class='item_details' style='left: 800px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ search_go_button.hover|safe }}
				</div>
			</div>

			<div class='item_container'>								
				<div style='background-color: {{ bookmarks_button.color }};' id='bookmarks_button' class='overlay'>{{ bookmarks_button.stat }}</div>
				<div class='item_details' style='left: 835px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ bookmarks_button.hover|safe }}
				</div>
			</div>

			<div class='item_container'>								
				<div style='background-color: {{ feedback_button.color }};' id='feedback_button' class='overlay'>{{ feedback_button.stat }}</div>
				<div class='item_details' style='left: 895px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ feedback_button.hover|safe }}
				</div>
			</div>
		</div>	

		<div id='vertical_scroll'> 
			<div class='item_container'>										
				<div style='background-color: {{ scroll_up.color }};' id='scroll_up' class='overlay'>{{ scroll_up.stat }}</div>
				<div class='item_details' style='left: 0px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ scroll_up.hover|safe }}
				</div>
			</div>

			<div class='item_container'>												
				<div style='background-color: {{ scroll_vertical_bar.color }};' id='scroll_vertical_bar' class='overlay'>{{ scroll_vertical_bar.stat }}</div>
				<div class='item_details' style='left: 0px; top: 240px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ scroll_vertical_bar.hover|safe }}
				</div>
			</div>

			<div class='item_container'>												
				<div style='background-color: {{ scroll_down.color }};' id='scroll_down' class='overlay'>{{ scroll_down.stat }}</div>
				<div class='item_details' style='top: 468px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ scroll_down.hover|safe }}
				</div>
			</div>
		</div>			

		<div id='horizontal_scroll'>
			<div class='item_container'>								
				<div style='background-color: {{ scroll_left.color }};' id='scroll_left' class='overlay'>{{ scroll_left.stat }}</div>
				<div class='item_details' style='left: -3px; top: -3px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ scroll_left.hover|safe }}
				</div>
			</div>
			
			<div class='item_container'>												
				<div style='background-color: {{ scroll_horizontal_bar.color }};' id='scroll_horizontal_bar' class='overlay'>{{ scroll_horizontal_bar.stat }}</div>
				<div class='item_details' style='left: 435px; top: -3px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ scroll_horizontal_bar.hover|safe }}
				</div>
			</div>
			
			<div class='item_container'>												
				<div style='background-color: {{ scroll_right.color }};' id='scroll_right' class='overlay'>{{ scroll_right.stat }}</div>
				<div class='item_details' style='left: 912px; top: -3px;'>
					<div class="menu_arrow" style="left: 10px;">◢◣</div>
					<div class="menu_arrow_mask" style="left: 8.5px;"></div>
					{{ scroll_right.hover|safe }}
				</div>
			</div>
		</div>		
	</div>				
	
	<div id='menus_wrapper'>
		<div id='combined_menu_wrapper'>
			<img src='media/img/combined_menu.png' id='combined_menu' />	
			<div style='background-color: {{ new_window.color }};' id='new_window' class='overlay_menu'>{{ new_window.stat }}</div>
			<div style='background-color: {{ save_page_as.color }};' id='save_page_as' class='overlay_menu'>{{ save_page_as.stat }}</div>
			<div style='background-color: {{ send_link.color }};' id='send_link' class='overlay_menu'>{{ send_link.stat }}</div>
			<div style='background-color: {{ print.color }};' id='print' class='overlay_menu'>{{ print.stat }}</div>									
			<div style='background-color: {{ find_in_this_page.color }};' id='find_in_this_page' class='overlay_menu'>{{ find_in_this_page.stat }}</div>									
			<div style='background-color: {{ history.color }};' id='history' class='overlay_menu'>{{ history.stat }}</div>									
			<div style='background-color: {{ customize.color }};' id='customize' class='overlay_menu'>{{ customize.stat }}</div>									
			<div style='background-color: {{ options.color }};' id='options' class='overlay_menu'>{{ options.stat }}</div>
			<div style='background-color: {{ help.color }};' id='help' class='overlay_menu'>{{ help.stat }}</div>
			<div style='background-color: {{ exit.color }};' id='exit' class='overlay_menu'>{{ exit.stat }}</div>		
			
			<img src='media/img/print_menu.png' id='print_menu' />	
			<div style='background-color: {{ page_setup.color }};' id='page_setup' class='print_menu'>{{ page_setup.stat }}</div>		
			<div style='background-color: {{ print_preview.color }};' id='print_preview' class='print_menu'>{{ print_preview.stat }}</div>		
			
			<img src='media/img/history_menu.png' id='history_menu' />	
			<div style='background-color: {{ clear_recent_history.color }};' id='clear_recent_history' class='history_menu'>{{ clear_recent_history.stat }}</div>		
			<div style='background-color: {{ show_all_history.color }};' id='show_all_history' class='history_menu'>{{ show_all_history.stat }}</div>	
			<div style='background-color: {{ history_item.color }}; text-align: right;' id='history_item' class='history_menu'>{{ history_item.stat }}</div>				
		
			<img src='media/img/customize_menu.png' id='customize_menu' />	
			<div style='background-color: {{ tabs_on_top.color }};' id='tabs_on_top' class='customize_menu'>{{ tabs_on_top.stat }}</div>
			<div style='background-color: {{ toolbar_layout.color }};' id='toolbar_layout' class='customize_menu'>{{ toolbar_layout.stat }}</div>		
			<div style='background-color: {{ customize_sidebars.color }};' id='customize_sidebars' class='customize_menu'>{{ customize_sidebars.stat }}</div>		
			<div style='background-color: {{ add_ons.color }};' id='add_ons' class='customize_menu'>{{ add_ons.stat }}</div>								
		
			<img src='media/img/customize_menu_sidebars.png' id='customize_menu_sidebars' />	
			<div style='background-color: {{ bookmarks_sidebar.color }};' id='bookmarks_sidebar' class='customize_menu_sidebars'>{{ bookmarks_sidebar.stat }}</div>		
			<div style='background-color: {{ history_sidebar.color }};' id='history_sidebar' class='customize_menu_sidebars'>{{ history_sidebar.stat }}</div>		
		</div>			
		
		
		<div id='bookmarks_menu_wrapper'>
			<img src='media/img/bookmarks_menu.png' id='bookmarks_menu' />	
			<div style='background-color: {{ bookmark_all_tabs.color }};' id='bookmark_all_tabs' class='overlay_bookmarks_menu'>{{ bookmark_all_tabs.stat }}</div> 
			<div style='background-color: {{ organize_bookmarks.color }};' id='organize_bookmarks' class='overlay_bookmarks_menu'>{{ organize_bookmarks.stat }}</div>				
			<div style='background-color: {{ view_bookmarks_toolbar.color }};' id='view_bookmarks_toolbar' class='overlay_bookmarks_menu'>{{ view_bookmarks_toolbar.stat }}</div>				
			<div style='background-color: {{ show_in_sidebar.color }};' id='show_in_sidebar' class='overlay_bookmarks_menu'>{{ show_in_sidebar.stat }}</div>				
			<div style='background-color: {{ bookmark_item.color }};' id='bookmark_item' class='overlay_bookmarks_menu'>{{ bookmark_item.stat }}</div>				
		</div>
	</div>
{% endblock %}

