{% extends "heatmap_base.html" %}

{% block header %}
	<h1>Firefox Main Window Heatmap</h1>
	<h2>Based on over 78,000 Windows 7 and Vista Test Pilot submissions from 7 days in July 2010 - <a href='https://testpilot.mozillalabs.com/testcases/betaui' >Study details</a></h2>
{% endblock %}

{% block filters %}
	<ul>
		<li><a href='heatmap' class="button left {% if show_perc %}active{% endif %}">Used by x% of users</a></li>
		<li><a href='?d=freq' class="button right {% if not show_perc %}active{% endif %}">Clicks per user</a></li>
	</ul>	

	<!--
	<ul>
		<li><a href='' class="button left active">Windows</a></li>
		<li><a href='' class="button">OS X</a></li>		
		<li><a href='' class="button right">Linux</a></li>
	</ul> -->
	
	<!--
	<ul>
		<li><a href='?s=all' class="button left {% if all %}active{% endif %}">All Skills</a></li>
		<li><a href='?s=beginner' class="button {% if beginner %}active{% endif %}">Beginner</a></li>
		<li><a href='?s=intermediate' class="button {% if intermediate %}active{% endif %}">Intermediate</a></li>		
		<li><a href='?s=advanced' class="button right {% if advanced %}active{% endif %}">Advanced</a></li>
	</ul>	
	-->
	
	<ul id='checkboxes'>
		<li>
			<input type=checkbox 
						 name='show_menus'
						 id='checkbox_menu'
						 onclick='showHide("#checkbox_menu", "#combined_menu_wrapper", "#bookmarks_menu_wrapper");' /> 
			<span>Show Menus</span>
		</li>
		<li>
			<input type=checkbox 
						 name='show_menus'
						 id='checkbox_hide_heatmap'
						 style='margin-left: 30px;'
						 onclick='hideHeatmap("#checkbox_hide_heatmap");' /> 
			<span>Hide Heatmap</span>
		</li>		
		<br />
	</ul>
	
	<div style='height: 60px; clear; both;'></div>
{% endblock %}


{% block content %}
	<div id='content'>	


		<div class='items_list' >
			<h3>Customizations</h3>
				{% for item in items_list %}
					{% if item.is_customization %}
						<div class='perc_box' style='background-color: {{ item.color }};'>{{ item.stat }}</div>
						<div style='width: 260px;'>{{ item.name }}</div>
						<div style='height:1px; clear: both;'></div>					
					{% endif %}
				{% endfor %}
		</div>	

		<div class='items_list' >
			<h3>Menu Items</h3>
				{% for item in items_list %}
					{% if item.is_menu %}
						<div class='perc_box' style='background-color: {{ item.color }};'>{{ item.stat }}</div>
						<div style='width: 230px;'>{{ item.name }}</div>
						<div style='height:1px; clear: both;'></div>					
					{% endif %}
				{% endfor %}
		</div>					
		<div class='items_list' >
			<h3>Main UI Elements</h3>
				{% for item in items_list %}
					{% if item.is_navigation_toolbar %}
						<div class='perc_box' style='background-color: {{ item.color }};'>{{ item.stat }}</div>
						<div style='width: 270px;'>{{ item.name }}</div>
						<div style='height:1px; clear: both;'></div>					
					{% endif %}
				{% endfor %}
		</div>			
			
		<img src='media/img/fx_4_b1.png' id='fx_chrome' />

		<div style='background-color: {{ firefox_button.color }};' id='firefox_button' class='overlay'>{{ firefox_button.stat }}<span>{{ firefox_button.hover }}</span></div>
		<div id='firefox_button_label' class='overlay_label'></div>

		<div id='tab_strip'>
			<div style='background-color: {{ tab_scroll_left.color }};' id='tab_scroll_left' class='overlay'>{{ tab_scroll_left.stat }}<span>{{ tab_scroll_left.hover }}</span></div>
			<div id='tab_scroll_left_label' class='overlay_label'></div>														
			
			<div style='background-color: {{ tab_scroll_right.color }};' id='tab_scroll_right' class='overlay'>{{ tab_scroll_right.stat }}<span>{{ tab_scroll_right.hover }}</span></div>
			<div id='tab_scroll_right_label' class='overlay_label'></div>														
			
			<div style='background-color: {{ new_tab_button.color }};' id='new_tab' class='overlay'>{{ new_tab_button.stat }}<span>{{ new_tab_button.hover }}</span></div>
			<div id='new_tab_label' class='overlay_label'></div>														
			
			<div style='background-color: {{ list_all_tabs.color }};' id='list_all_tabs' class='overlay'>{{ list_all_tabs.stat }}<span>{{ list_all_tabs.hover }}</span></div>
			<div id='list_all_tabs_label' class='overlay_label'></div>																						
		</div>		
		
		<div id='navigation_toolbar'>
			<div style='background-color: {{ back.color }};' id='back' class='overlay'>{{ back.stat }}<span>{{ back.hover }}</span></div>
			<div id='back_label' class='overlay_label'></div>
			
			<div style='background-color: {{ forward.color }};' id='forward' class='overlay'>{{ forward.stat }}<span>{{ forward.hover }}</span></div>
			<div id='forward_label' class='overlay_label'></div>			
			
			<div style='background-color: {{ reload_button.color }};' id='reload' class='overlay'>{{ reload_button.stat }}<span>{{ reload_button.hover }}</span></div>
			<div id='reload_label' class='overlay_label'></div>
			
			<div id='stop_label' class='overlay_label'></div>
			
			<div style='background-color: {{ home.color }};' id='home' class='overlay'>{{ home.stat }}<span>{{ home.hover }}</span></div>
			<div id='home_label' class='overlay_label'></div>	
		
			<div style='background-color: {{ site_id_normal.color }};' id='site_id' class='overlay'>{{ site_id_normal.stat }}<span>{{ site_id_normal.hover }}</span></div>
			<div id='site_id_label' class='overlay_label'></div>						
			
			<div style='background-color: {{ url_enter_key.color }};' id='location_bar' class='overlay'>{{ url_enter_key.stat }}<span>{{ url_enter_key.hover }}</span></div>
			<div id='location_bar_label' class='overlay_label'></div>															
			
			<div style='background-color: {{ rss.color }};' id='rss' class='overlay'>{{ rss.stat }}<span>{{ rss.hover }}</span></div>
			<div id='location_bar_go_button_label' class='overlay_label'></div>	

			<div style='background-color: {{ bookmark_star.color }};' id='bookmark_star' class='overlay'>{{ bookmark_star.stat }}<span>{{ bookmark_star.hover }}</span></div>
			<div id='location_bar_go_button_label' class='overlay_label'></div>	
																						
			<div style='background-color: {{ url_go_button.color }};' id='location_bar_go_button' class='overlay'>{{ url_go_button.stat }}<span>{{ url_go_button.hover }}</span></div>
			<div id='location_bar_go_button_label' class='overlay_label'></div>				
			
			<div style='background-color: {{ most_visited_drop_down.color }};' id='most_visited_drop_down' class='overlay'>{{ most_visited_drop_down.stat }}<span>{{ most_visited_drop_down.hover }}</span></div>
			<div id='most_visited_drop_down_label' class='overlay_label'></div>	
			
			<div style='background-color: {{ search_drop_down.color }};' id='search_drop_down' class='overlay'>{{ search_drop_down.stat }}<span>{{ search_drop_down.hover }}</span></div>
			<div id='search_engine_drop_down_label' class='overlay_label'></div>								
			
			<div style='background-color: {{ search_enter_key.color }};' id='search_bar' class='overlay'>{{ search_enter_key.stat }}<span>{{ search_enter_key.hover }}</span></div>
			<div id='search_bar_label' class='overlay_label'></div>	
			
			<div style='background-color: {{ search_go_button.color }};' id='search_go_button' class='overlay'>{{ search_go_button.stat }}<span>{{ search_go_button.hover }}</span></div>
			<div id='search_go_button_label' class='overlay_label'></div>														
			
			<div style='background-color: {{ bookmarks_button.color }};' id='bookmarks_button' class='overlay'>{{ bookmarks_button.stat }}<span>{{ bookmarks_button.hover }}</span></div>
			<div id='bookmarks_button_label' class='overlay_label'></div>														
			
			<div style='background-color: {{ feedback_button.color }};' id='feedback_button' class='overlay'>{{ feedback_button.stat }}<span>{{ feedback_button.hover }}</span></div>
			<div id='feedback_button_label' class='overlay_label'></div>														
		</div>	
		
		<!--
		<div id='navigation_toolbar_overflow'>
			<div id='bookmarks_bar_label' class='overlay_label'></div>														
			
			<div id='rss' class='overlay'>RSS Icon <div style='background-color: {{ rss.color }};'>{{ rss.stat }}</div></div>
			<div id='rss_label' class='overlay_label'></div>		
			
			<div id='bookmark_star' class='overlay'>Bookmark Star <div style='background-color: {{ bookmark_star.color }};'>{{ bookmark_star.stat }}</div></div>
			<div id='bookmark_star_label' class='overlay_label'></div>	
		</div>	
		-->
		
		<!--
		<div id='vertical_scroll'> 
			<div style='background-color: {{ scroll_up.color }};' id='scrol_up' class='overlay'>{{ scroll_up.stat }}</div>
			<div id='scroll_vertical_up_label' class='overlay_label'></div>
			
			<div style='background-color: {{ scroll_vertical_bar.color }};' id='scroll_vertical_bar' class='overlay'>{{ scroll_vertical_bar.stat }}</div>
			<div id='scroll_vertical_bar_label' class='overlay_label'></div>
			
			<div style='background-color: {{ scroll_down.color }};' id='scroll_down' class='overlay'>{{ scroll_down.stat }}</div>
			<div id='scroll_vertical_down_label' class='overlay_label'></div>																													
		</div>			

		<div id='horizontal_scroll'>
			<div style='background-color: {{ scroll_left.color }};' id='scroll_left' class='overlay'>{{ scroll_left.stat }}</div><div id='scroll_horizontal_up_label' class='overlay_label'></div>
			<div style='background-color: {{ scroll_horizontal_bar.color }};' id='scroll_horizontal_bar' class='overlay'>{{ scroll_horizontal_bar.stat }}</div><div id='scroll_horizontal_bar_label' class='overlay_label'></div>
			<div style='background-color: {{ scroll_right.color }};' id='scroll_right' class='overlay'>{{ scroll_right.stat }}</div><div id='scroll_horizontal_down_label' class='overlay_label'></div>								
		</div>
		-->			
	</div>				
	
	<div id='menus_wrapper'>
		<div id='combined_menu_wrapper'>
			<img src='media/img/combined_menu.png' id='combined_menu' />	
			<div style='background-color: {{ new_window.color }};' id='new_window' class='overlay_menu'>{{ new_window.stat }}</div>
			<div style='background-color: {{ save_page_as.color }};' id='save_page_as' class='overlay_menu'>{{ save_page_as.stat }}</div>
			<div style='background-color: {{ send_link.color }};' id='send_link' class='overlay_menu'>{{ send_link.stat }}</div>
			<div style='background-color: {{ print.color }};' id='print' class='overlay_menu'>{{ print.stat }}</div>									
			<div style='background-color: {{ find_in_this_page.color }};' id='find_in_this_page' class='overlay_menu'>{{ find_in_this_page.stat }}</div>									
			<div style='background-color: {{ history.color }};' id='history' class='overlay_menu'>{{ history.stat }}</div>									
			<div style='background-color: {{ customize.color }};' id='customize' class='overlay_menu'>{{ customize.stat }}</div>									
			<div style='background-color: {{ options.color }};' id='options' class='overlay_menu'>{{ options.stat }}</div>
			<div style='background-color: {{ help.color }};' id='help' class='overlay_menu'>{{ help.stat }}</div>
			<div style='background-color: {{ exit.color }};' id='exit' class='overlay_menu'>{{ exit.stat }}</div>		
			
			<img src='media/img/print_menu.png' id='print_menu' />	
			<div style='background-color: {{ page_setup.color }};' id='page_setup' class='print_menu'>{{ page_setup.stat }}</div>		
			<div style='background-color: {{ print_preview.color }};' id='print_preview' class='print_menu'>{{ print_preview.stat }}</div>		
			
			<img src='media/img/history_menu.png' id='history_menu' />	
			<div style='background-color: {{ clear_recent_history.color }};' id='clear_recent_history' class='history_menu'>{{ clear_recent_history.stat }}</div>		
			<div style='background-color: {{ show_all_history.color }};' id='show_all_history' class='history_menu'>{{ show_all_history.stat }}</div>	
			<div style='background-color: {{ history_item.color }}; text-align: right;' id='history_item' class='history_menu'>{{ history_item.stat }}</div>				
		
			<img src='media/img/customize_menu.png' id='customize_menu' />	
			<!-- <div style='background-color: {{ tabs_on_top.color }};' id='tabs_on_top' class='customize_menu'>{{ tabs_on_top.stat }}</div>		-->
			<div style='background-color: {{ toolbar_layout.color }};' id='toolbar_layout' class='customize_menu'>{{ toolbar_layout.stat }}</div>		
			<div style='background-color: {{ customize_sidebars.color }};' id='customize_sidebars' class='customize_menu'>{{ customize_sidebars.stat }}</div>		
			<div style='background-color: {{ add_ons.color }};' id='add_ons' class='customize_menu'>{{ add_ons.stat }}</div>								
		
			<img src='media/img/customize_menu_sidebars.png' id='customize_menu_sidebars' />	
			<div style='background-color: {{ bookmarks_sidebar.color }};' id='bookmarks_sidebar' class='customize_menu_sidebars'>{{ bookmarks_sidebar.stat }}</div>		
			<div style='background-color: {{ history_sidebar.color }};' id='history_sidebar' class='customize_menu_sidebars'>{{ history_sidebar.stat }}</div>		
		</div>			
		
		
		<div id='bookmarks_menu_wrapper'>
			<img src='media/img/bookmarks_menu.png' id='bookmarks_menu' />	
			<!-- <div style='background-color: {{ bookmark_all_tabs.color }};' id='bookmark_all_tabs' class='overlay_bookmarks_menu'>{{ bookmark_all_tabs.stat }}</div> -->
			<div style='background-color: {{ organize_bookmarks.color }};' id='organize_bookmarks' class='overlay_bookmarks_menu'>{{ organize_bookmarks.stat }}</div>				
			<div style='background-color: {{ view_bookmarks_toolbar.color }};' id='view_bookmarks_toolbar' class='overlay_bookmarks_menu'>{{ view_bookmarks_toolbar.stat }}</div>				
			<div style='background-color: {{ show_in_sidebar.color }};' id='show_in_sidebar' class='overlay_bookmarks_menu'>{{ show_in_sidebar.stat }}</div>				
			<div style='background-color: {{ bookmark_item.color }};' id='bookmark_item' class='overlay_bookmarks_menu'>{{ bookmark_item.stat }}</div>				
		</div>
	</div>
{% endblock %}

